
  <div class="div">
    <img
        src="../../assets/images/mashroomCover.png"
      class="img"
    />
    <div class="nft-info">
      <div class="div-2">
        <div class="nft-artst-name-button">
          <div class="artist-card">
            <div class="avatar">
              <img
              src="../../assets/images/mashroomCover.png"

                class="img-2"
              />
            </div>
            <div class="dish-studio">Shroomie</div>
          </div>
          <div class="magic-mashrooms">Magic Mashrooms</div>
          <button class="btn">
            <img
              src="../../assets/images/Eye.png"
              class="img-3"
            />
            <div class="button-2">See NFT</div>
          </button>
        </div>
        <div class="auction-timer">
          <div class="auction-ends-in">Auction ends in:</div>
          <div class="timer">
            <div class="hours">
              <div class="text">59</div>
              <div class="hours-2">Hours</div>
            </div>
            <div class="">:</div>
            <div class="minutes">
              <div class="text">59</div>
              <div class="minutes-2">Minutes</div>
            </div>
            <div class="">:</div>
            <div class="seconds">
              <div class="text">59</div>
              <div class="seconds-2">Seconds</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
