
  <div class="footer">
    <div class="footer-info">
      <div class="nft-marketplace-info">
        <img
          src="../../assets/images/Storefront.png"
          class="img"
        />
        <div class="additional-info">
          <div class="nft-marketplace-ui-created-with-anima-for-figma">
            NFT marketplace UI created with Anima for Figma.
          </div>
          <div class="community-info">
            <div class="join-our-community">Join our community</div>
            <div class="icons">
              <img
               
                class="img-2"
              />
              <img
              src=""
                class="img-3"
              />
              <img
                src=""
                class="img-4"
              />
              <img
              src=""
                  class="img-5"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="explore">
        <div class="explore-2">Explore</div>
        <div class="pages">
          <div>Marketplace</div>
          <div class="rankings">Rankings</div>
          <div class="connect-a-wallet">Connect a wallet</div>
        </div>
      </div>
      <div class="subscribe">
        <div class="join-our-weekly-digest">Join our weekly digest</div>
        <div class="subscribe-form-info">
          <div
            class="promotions"
          >
            Get exclusive promotions & updates straight to your inbox.
          </div>
          <div class="subscribe-form">
            <div class="enter-your-email-here">Enter your email here</div>
            <div class="button">Subscribe</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div">
      <div class="divider"></div>
      <div class="ⓒ-nft-market-use-this-template-freely">
        Ⓒ NFT Market. Use this template freely.
      </div>
    </div>
  </div>

