
  <div class="footer">
    <div class="footer-info">
      <div class="nft-marketplace-info">
        <div>
        <img
          src="../../assets/images/Storefront.png"
          class="img"
        /><span class="explore-2">NFT Marketplace</span>
        </div>
        <div class="additional-info">
          <div class="title">
            NFT marketplace UI created with Anima for Figma.
          </div>
          <div class="community-info">
            <div class="join-our-community">Join our community</div>
            <div class="icons">
              <a [routerLink]="['/routePath']"  >
              <img
               src="../../assets/images/DiscordLogo.png"
                class="img-icon"
              />
              </a>
               <a [routerLink]="['/routePath']"  >
              <img
              src="../../assets/images/YoutubeLogo.png"
                class="img-icon"
              />
              </a>
               <a [routerLink]="['/routePath']"  >
              <img
                src="../../assets/images/TwitterLogo.png"
                class="img-icon"
              />
              </a>
               <a [routerLink]="['/routePath']"  >
              <img
              src="../../assets/images/InstagramLogo.png"
                  class="img-icon"
              /></a>
            </div>
          </div>
        </div>
      </div>



      <div class="explore">
        <div class="explore-2">Explore</div>
        <div class="pages">
         <a [routerLink]="['/routePath']"  > <div class="">  Marketplace  </div> </a>
         <a [routerLink]="['/routePath']"  > <div class="links">Rankings</div></a>
         <a [routerLink]="['/routePath']"  > <div class="links">Connect a wallet</div></a>
        </div>
      </div>
      <div class="subscribe">
        <div class="header">Join our weekly digest</div>
        <div class="subscribe-form-info">
          <div
            class="promotions"
          >
            Get exclusive promotions & updates straight to your inbox.
          </div>
          <div class="subscribe-form" >
          <div class="email" >
            <input  type="email" placeholder="enter your email here">
           </div>
          <button class="btn">
            <!-- <img
            src="../../assets/images/messageIcon.png"
              class="img-2"
            /> -->
            <p class="btn-txt">Subscribe</p>
          </button>
        </div>
        </div>
      </div>
    </div>
    <div class="copy-right-div">
      <div class="divider"></div>
      <div class="copy-right">
         &copy; NFT Market. Use this template freely.
      </div>
    </div>
  </div>

