
  <div class="hero-section">
    <div class="hero-section-frame">
      <div class="hero-text-buttons">
        <div class="headline-subhead">
          <div class="text-header">
            Discover digital art & Collect NFTs
          </div>
          <div
            class="description"
          >
            NFT marketplace UI created with Anima for Figma. Collect, buy and
            sell art from more than 20k NFT artists.
          </div>
        </div>
        <button class="btn">
          <img
            
            src="../../assets/images/RocketLaunch.png"
            class="img"
          />
          <div class="button-2">Get Started</div>
        </button>
        <div class="additional-info">
          <div class="info-txt">
            <div >240k+</div>
            <div >Total Sale</div>
          </div>
          <div class="info-txt">
            <div >100k+</div>
            <div >Auctions</div>
          </div>
          <div class="info-txt">
            <div>240k+</div>
            <div >Artists</div>
          </div>
        </div>
      </div>
      <div class="highlighted-nft">
        <img
         src="../../assets/images/Image Placeholder.png"
          class="img-2"
        />
        <div class="header">
          <div class="space-walking">Space Walking</div>
          <div class="artist-card">
            <div class="avatar">
              <img
                   src="../../assets/images/Avatar.png"
                   class="img-3"
              />
            </div>
            <div class="dish-studio">Animakid</div>
          </div>
        </div>
      </div>
    </div>
  </div>
