
  <div class="top-rated-artists">
    <div class="section-headline-button">
      <div class="section-headline">
        <div class="heading">Top creators</div>
        <div class="subhead">
          Checkout Top Rated Creators on the NFT Marketplace
        </div>
      </div>
      <div class="button">
        <img
           src="../../assets/images/Primary Photo Placeholder.png"
          class="img"
        />
        <div class="button-2" [routerLink]="['/']" routerLinkActive="router-link-active" >View Rankings</div>
      </div>
    </div>
    <div class="artist-cards-grid">
      <!-- <div class="artist-cards-row"> -->


           <div  *ngFor="let item of topRated" class="artist-card">
          <div class="artist-avatar">
            <div class="avatar">
              <img
           [src]=" '../../assets/images/'+item.src"
           [alt]=" item.alt"
                class="img-2"
              />
            </div>
          </div>
          <div class="artist-info">
            <div class="dish-studio">{{item.name}}</div>
            <div class="additional-info">
              <div class="total-sales">Total Sales:</div>
              <div class="total-sales-value" >{{item.totalSales}}</div>
            </div>
          </div>
          <div class="ranking-number">{{item.id}}</div>
        </div>







      <!-- </div> -->

    </div>
  </div>


