
  <div class="how-it-works">
    <div class="section-headline">
      <div class="how-it-works-2">How it works</div>
      <div class="title">
        Find out how to get started
      </div>
    </div>
    <div class="card-row">
      <div *ngFor="let item of steps" class="info-card">
        <img
        [src]=" '../../assets/images/'+item.src"  
        [alt]="item.alt" 
          class="img"
        />
        <div class="card-details">
          <div class="name">{{item.name}}</div>
          <div
            class="discription"
          >
          {{item.cotent}}
            
          </div>
        </div>
      </div>
  
    </div>
  </div>

