
  <div class="subscribe-widget">
    <div class="subscribe-widget-2">
      <img
        
        src="../../assets/images/space.png"
        class="img"
      />
      <div class="container">
        <div class="headline">
          <div class="text">Join our weekly digest</div>
          <div
            class="subhead"
          >
            Get exclusive promotions & updates straight to your inbox.
          </div>
        </div>
        <div class="subscribe-form" >
          <div class="email" >
            <input  type="email" placeholder="enter your email here">
           </div>
          <button class="btn">
            <img
            src="../../assets/images/messageIcon.png"
              class="img-2"
            />
            <p class="btn-txt">Subscribe</p>
          </button>
        </div>

        
      </div>
    </div>
  </div>

