
  <div class="discover-more-nf-ts">
    <div class="section-headline-button">
      <div class="section-headline">
        <div class="discover-more-nf-ts-2">Discover More NFTs</div>
        <div class="explore-new-trending-nf-ts">
          Explore new trending NFTs
        </div>
      </div>
      <div class="button">
        <img
         src="../../assets/images/Eye.png"
          class="img"
        />
        <div class="button-2">See All</div>
      </div>
    </div>
    <div class="nft-cards-row">
      <div *ngFor="let item of discover" class="nft-card">
        <div class="image">
          <img
       [src]=" '../../assets/images/'+item.src"  
       [alt]="item.alt"
       class="img-2"
          />
        </div>
        <div class="nft-info">
          <div class="artst-info">
            <div class="nft-name">{{item.name}}</div>
            <div class="artist-avatar-name">
              <div class="avatar">
                <img
       [src]=" '../../assets/images/'+item.src"  
                  class="img-3"
                />
              </div>
              <div class="nft-artist">{{item.cotent}}</div>
            </div>
          </div>
          <div class="additional-info">
            <div class="price">
              <div class="price-2">Price</div>
              <div class="priceValue">{{item.price}}</div>
            </div>
            <div class="highest-bid">
              <div class="highest-bid-2">Highest Bid</div>
              <div class="priceValue">{{item.bid}}</div>
            </div>
          </div>
        </div>
      </div>


     
    </div>
  </div>


