
    .discover-more-nf-ts {
      align-items: center;
 
      background-color:  #2b2b2b;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 80px 115px;
    }
    @media (max-width: 991px) {
      .discover-more-nf-ts {
        padding: 0 20px;
      }
    }
    .section-headline-button {
      display: flex;
      width: 100%;
      max-width: 1050px;
      align-items: end;
      gap: 40px 100px;
      font-family: Work Sans, sans-serif;
      justify-content: start;
      flex-wrap: wrap;
    }
    @media (max-width: 991px) {
      .section-headline-button {
        max-width: 100%;
      }
    }
    .section-headline {
      display: flex;
      min-width: 240px;
      flex-direction: column;
      color: var(--White, #fff);
      text-transform: capitalize;
      justify-content: start;
      flex: 1;
      flex-basis: 100px;
    }
    @media (max-width: 991px) {
      .section-headline {
        max-width: 100%;
      }
    }
    .discover-more-nf-ts-2 {
      font-size: 38px;
      font-weight: 600;
      line-height: 1.2;
    }
    @media (max-width: 991px) {
      .discover-more-nf-ts-2 {
        max-width: 100%;
      }
    }
    .explore-new-trending-nf-ts {
      font-size: 22px;
      font-weight: 400;
      line-height: 1.6;
      margin-top: 10px;
    }
    @media (max-width: 991px) {
      .explore-new-trending-nf-ts {
        max-width: 100%;
      }
    }
    .button {
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 2px solid var(--Call-to-Action, #a259ff);
      display: flex;
      min-height: 60px;
      gap: 12px;
      font-size: 16px;
      color: rgba(255, 255, 255, 1);
      font-weight: 600;
      text-align: center;
      line-height: 1.4;
      padding: 0 50px;
    }
    @media (max-width: 991px) {
      .button {
        padding: 0 20px;
      }
    }
    .img {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 20px;
      align-self: stretch;
      margin: auto 0;
    }
    .button-2 {
      align-self: stretch;
      margin: auto 0;
    }
    .nft-cards-row {
      display: flex;
      margin-top: 60px;
      max-width: 100%;
      width: 1050px;
      align-items: start;
      gap: 30px;
      justify-content: start;
      flex-wrap: wrap;
    }
    @media (max-width: 991px) {
      .nft-cards-row {
        margin-top: 40px;
      }
    }
    .nft-card {
      border-radius: 20px;
      background-color: rgba(59, 59, 59, 1);
      display: flex;
      min-width: 240px;
      min-height: 469px;
      flex-direction: column;
      justify-content: start;
      flex: 1;
      flex-basis: 0%;
    }
    .image {
      border-radius: 20px 20px 0px 0px;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: start;
    }
    .img-2 {
      aspect-ratio: 1.12;
      object-fit: contain;
      object-position: center;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
    }
    .nft-info {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: start;
      padding: 20px 30px 25px;
    }
    @media (max-width: 991px) {
      .nft-info {
        padding: 0 20px;
      }
    }
    .artst-info {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: start;
    }
    .nft-name {
      color: var(--White, #fff);
      text-transform: capitalize;
      font: 600 22px/1.4 Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .artist-avatar-name {
      display: flex;
      margin-top: 5px;
      width: 100%;
      align-items: start;
      gap: 12px;
      justify-content: start;
    }
    .avatar {
      display: flex;
      align-items: start;
      gap: 10px;
      justify-content: start;
      width: 24px;
    }
    .img-3 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
    }
    .nft-artist {
      color: var(--White, #fff);
      flex: 1;
      flex-basis: 0%;
      font: 400 16px/1.4 Space Mono, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .additional-info {
      display: flex;
      margin-top: 25px;
      width: 100%;
      align-items: start;
      font-family: Space Mono, sans-serif;
      font-weight: 400;
      justify-content: start;
    }
    .price {
      display: flex;
      padding-right: 21px;
      flex-direction: column;
      justify-content: start;
      flex: 1;
      flex-basis: 0%;
    }
    .price-2 {
      color: #858584;
      font-size: 12px;
      line-height: 1.1;
    }
    /* .1-63-eth {
      color: var(--White, #fff);
      font-size: 16px;
      line-height: 1.4;
      margin-top: 8px;
    } */
    .highest-bid {
      display: flex;
      flex-direction: column;
      text-align: right;
      justify-content: center;
      flex: 1;
      flex-basis: 21px;
    }
    .highest-bid-2 {
      color: #858584;
      font-size: 12px;
      line-height: 1.1;
    }
    /* .0-33-w-eth {
      color: var(--White, #fff);
      font-size: 16px;
      line-height: 1.4;
      margin-top: 8px;
    } */
    .img-4 {
      aspect-ratio: 1.12;
      object-fit: contain;
      object-position: center;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
    }
    .img-5 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
    }
    .price-3 {
      color: #858584;
      font-size: 12px;
      line-height: 1.1;
    }
    .highest-bid-3 {
      color: #858584;
      font-size: 12px;
      line-height: 1.1;
    }
    .img-6 {
      aspect-ratio: 1.12;
      object-fit: contain;
      object-position: center;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
    }
    .img-7 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
    }
    .price-4 {
      color: #858584;
      font-size: 12px;
      line-height: 1.1;
    }
    .highest-bid-4 {
      color: #858584;
      font-size: 12px;
      line-height: 1.1;
    }
