
 <div class="navigation">
      <div class=" nav-nav-menu">
    <img src="../../assets/images/Storefront.png" alt=" Logo" class="logo">
    <span >NFT Marketplace</span>
  </div>
    <div class="nav-nav-menu">
      <div class="marketplace">Marketplace</div>
      <div class="rankings">Rankings</div>
      <div class="connect-a-wallet">Connect a wallet</div>
      <div class="sign-up">
        <img
         
          src="../../assets/images/User.png"
          class="img-2"
        />
        <div class="button">Sign Up</div>
      </div>
    </div>
  </div> 



<!-- <nav class="navbar">
  <div class="navbar-brand">
    <img src="../../assets/images/Storefront.png" alt=" Logo" class="logo">
    <span >NFT Marketplace</span>
  </div>

  <ul class="navbar-links">
    <li><a href="#">Marketplace</a></li>
    <li><a href="#">Rankings</a></li>
    <li><a href="#">Connect a wallet</a></li>

    <li> <a href="#" class="btn-signup">
      <img src="../../assets/images/User.png"/>Sign Up</a></li>

  </ul>

</nav> -->

