
    .navigation {
      justify-content: space-between;
      align-items: center;
      /* align-self: stretch; */
      /* background: var(--Background, #2b2b2b); */
      background-color: #2B2B2B;
      /* background-color: var(--Background, #2b2b2b); */
      display: flex;
      /* gap: 40px 100px; */
      /* flex-wrap: wrap; */
      padding: 20px 50px 20px 50px;
    }
  @media (max-width: 991px) {
      .navigation {
        padding: 0 20px;
      }
    }
    /* .nav-logo {
      align-self: stretch;
      display: flex;
      min-width: 240px;
      align-items: center;
      gap: 10px;
      justify-content: start;
      width: 243px;
      margin: auto 0;
    } */
    .navbar-brand {
  width: 243.41px;
  height: 32px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.navbar-brand span{
  font-weight: 700;
    font-size:16px;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
    .img {
      
      object-fit: contain;
      object-position: center;
      width: 243px;
      align-self: stretch;
      min-width: 240px;
      margin: auto 0;
    }
    .nav-nav-menu {
      align-self: stretch;
      display: flex;
      min-width: 240px;
      align-items: center;
      gap: 10px;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      justify-content: end;
      flex-wrap: wrap;
      margin: auto 0;
      font: 600 16px;
    }
    @media (max-width: 991px) {
      .nav-nav-menu {
        max-width: 100%;
      }
    }
    .marketplace {
      align-self: stretch;
      border-radius: 20px;
      min-height: 46px;
      gap: 12px;
      white-space: nowrap;
      margin: auto 0;
      padding: 0 20px;
    }
    @media (max-width: 991px) {
      .marketplace {
        white-space: initial;
      }
    }
    .rankings {
      align-self: stretch;
      border-radius: 20px;
      min-height: 46px;
      gap: 12px;
      white-space: nowrap;
      margin: auto 0;
      padding: 0 20px;
    }
    @media (max-width: 991px) {
      .rankings {
        white-space: initial;
      }
    }
    .connect-a-wallet {
      align-self: stretch;
      border-radius: 20px;
      min-height: 46px;
      gap: 12px;
      margin: auto 0;
      padding: 0 20px;
    }
    .sign-up {
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: var(--Call-to-Action, #a259ff);
      background-color: var(--Call-to-Action, #a259ff);
      align-self: stretch;
      display: flex;
      min-height: 60px;
      gap: 12px;
      margin: auto 0;
      padding: 0 30px;
    }
    @media (max-width: 991px) {
      .sign-up {
        padding: 0 20px;
      }
    }
    .img-2 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 20px;
      align-self: stretch;
      margin: auto 0;
    }
    .button {
      align-self: stretch;
      margin: auto 0;
    } 


/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px, 50px, 20px, 50px;
    background-color: #2B2B2B;
    color:#FFFFFF;
    flex-wrap: wrap;
    height: 100px;
}

.navbar-brand {
  width: 243.41px;
  height: 32px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.navbar-brand span{
  font-weight: 700;
    font-size:16px;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    width: 607px;
    height: 60px;
    
}

.navbar-links li {
  width: 139px;
  
    padding: 0px, 20px, 0px, 20px;
    text-align: center;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    line-height: 22.4px;
    font-size:16px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-signup {
    padding: 0px, 30px, 0px, 30px;
    background-color: #a259ff;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 152px;
    text-align: center;
    height: 60px;
    width: 152px;

}

.btn-signup:hover {
    background-color: #922dff;
}




@media (max-width: 768px) {
    .navbar {
        padding: 10px;
        flex-direction: column; 
    }

    .navbar-links {
        flex-direction: column; 
        align-items: center;
        width: 100%; 
        margin-top: 10px;
    }

    .navbar-links li {
        margin: 10px 0; 
    }

    .btn-signup {
        margin-top: 10px; 
        width: 100%;
        justify-content: center;
    }
}


@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .navbar-brand {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px; 
    }

    .navbar-links {
        margin: 0;
        padding: 0;
    }

    .navbar-links a {
        font-size: 14px; 
    }

    .btn-signup {
        font-size: 14px; 
        padding: 10px;
    }
} */


