
 <div class="navigation">
   <a [routerLink]="['/routePath']"  >
      <div class=" nav-nav-menu">
    <img src="../../assets/images/Storefront.png" alt=" Logo" class="logo">
    <span >NFT Marketplace</span>
  </div>
  </a>
    <ul class="nav-nav-menu">
       <a [routerLink]="['/']"  >
      <li class="nav-item">Marketplace</li></a>
      <a [routerLink]="['/']"  >
      <li class="nav-item">Rankings</li></a>
     <a [routerLink]="['/']"  >
      <li class="nav-item">Connect a wallet</li></a>
     <a [routerLink]="['/']"  >
      <li class="sign-up ">
        <img
         
          src="../../assets/images/User.png"
          class="img-2"
        />
        <div class="btn-text">Sign Up</div>
      </li>
      </a>
    </ul>
  </div> 



<!-- <nav class="navbar">
  <div class="navbar-brand">
    <img src="../../assets/images/Storefront.png" alt=" Logo" class="logo">
    <span >NFT Marketplace</span>
  </div>

  <ul class="navbar-links">
    <li><a href="#">Marketplace</a></li>
    <li><a href="#">Rankings</a></li>
    <li><a href="#">Connect a wallet</a></li>

    <li> <a href="#" class="btn-signup">
      <img src="../../assets/images/User.png"/>Sign Up</a></li>

  </ul>

</nav> -->

